.row {
  display: flex;
  margin-bottom: 15px;
  .title {
    width: 70px;
    line-height: 32px;
  }
  .content {
    flex: 1;
  }
}

.buttons {
  padding-top: 12px;
  margin-top: 24px;
  border-top: 1px dashed #ccc;
  text-align: center;

  .reset {
    margin-left: 10px;

    @media screen and (max-width: 650px) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
