.row {
  margin-top: 22px;
  .checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3px;
    margin-top: 10px;

    :global(.ant-checkbox-wrapper) {
      margin-left: 0 !important;
    }
  }
}
