.item {
  display: flex;
  color: #999;
  background-color: #fff;
  margin-bottom: 10px;
  line-height: 40px;
  border: 1px solid #ccc;
  padding: 0 10px;
  &:last-of-type {
    margin-bottom: 20px;
  }

  .content {
    flex: 1;
  }

  .delete {
    width: 80px;
  }
}
