@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    background: #e6e6e6;
  }

  section {
    margin-bottom: 1rem;
    padding: 2rem;
  }
}

@layer components {
  .three-d::before,
  .three-d::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: 0.5s ease-in-out;
    background-color: #000;
  }

  .three-d::before {
    z-index: -1;
    opacity: 0.15;
  }

  .three-d::after {
    z-index: -2;
    opacity: 0.1;
  }

  .active.three-d::before {
    transform: perspective(1300px) rotateZ(0deg) translateZ(215px) scale(0.7);
  }

  .active.three-d::after {
    transform: perspective(1300px) rotateZ(0deg) translateZ(120px) scale(0.7);
  }

  .active-main {
    animation: main 0.5s ease;
    transform: perspective(1300px) rotateZ(0deg) translateZ(310px) scale(0.5);
  }
}
