@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: #e6e6e6;
    overflow-x: hidden;
  }

  section {
    margin-bottom: 1rem;
    padding: 2rem;
  }
}
