@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: #e6e6e6;
    overflow-x: hidden;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
      '\5B8B\4F53', sans-serif;
  }

  section {
    margin-bottom: 1rem;
    padding: 2rem;
  }
}
