* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    '\5B8B\4F53', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

.wrapper {
  width: 1280px;
  background-color: #fff;
  margin: 0 auto 15px;
  transition: box-shadow 350ms;

  @media screen and (max-width: 1300px) {
    width: 900px;
  }

  @media screen and (max-width: 950px) {
    width: 700px;
  }

  @media screen and (max-width: 750px) {
    width: 500px;
  }

  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}
