.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 70px;

  &.inverse {
    flex-direction: row;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 1300px) {
    gap: 40px;
  }

  @media screen and (max-width: 700px) {
    gap: 20px;
  }

  .content {
    max-width: 300px;

    .title {
      font-size: 26px;
      font-weight: 800;
      // 单行省略
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .description {
      font-size: 18px;
      margin-top: 10px;
      text-align: justify;
      line-height: 24px;
      // 多行省略
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
    }
  }

  .img {
    .icon {
      font-size: 150px;
    }
  }
}
