.row {
  display: flex;
  margin-top: 22px;
  .label {
    width: 40px;
    line-height: 32px;
  }
  .upload {
    color: #1d9bf0;
    line-height: 32px;
    cursor: pointer;
    font-size: 24px;
    height: 32px;
  }
  .uploadButton {
    margin-left: auto;
    margin-top: auto;
  }
  .uploadImage {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 6px;
  }
}
